   <!-- <app-test></app-test> -->
   <!-- <app-test2></app-test2> -->
    <!-- <app-login></app-login> <br/>
    <app-register></app-register> <br/>
    <app-showemployees></app-showemployees>
<app-showempbyid></app-showempbyid> -->
<!-- <app-cards></app-cards> -->
<!-- <app-products></app-products> -->
<app-header></app-header>
<br/>
<marquee><h1>Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>