
<h1 align="center">Products</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:250px">
                <img class="card-img-top" src={{product.imgsrc}} alt="Card image"
                    style="width:70%; height: 80%; margin-top: 5px; margin-left: 40px;">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text"><b>Price: ₹{{product.price}}/-</b></p>
                    <p class="card-text">{{product.description}}</p>
                    <p align="right"><button class="btn btn-primary">AddToCart</button> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="assets/Images/10001.jpg" alt="Card image"
                    style="width:70%; height: 80%; margin-top: 5px; margin-left: 40px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text"><b>Price: <s>₹58999.00/-</s> ₹45999.00/-</b></p>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p align="right"><button class="btn btn-primary">AddToCart</button> </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="assets/Images/10002.jpg" alt="Card image"
                    style="width:70%; height: 80%; margin-top: 5px; margin-left: 40px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text"><b>Price: <s>₹58999.00/-</s> ₹45999.00/-</b></p>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p align="right"><button class="btn btn-primary">AddToCart</button> </p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="assets/Images/10003.jpg" alt="Card image"
                    style="width:70%; height: 80%; margin-top: 5px; margin-left: 40px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text"><b>Price: <s>₹58999.00/-</s> ₹45999.00/-</b></p>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p align="right"><button class="btn btn-primary">AddToCart</button> </p>
                </div>
            </div>
        </div>


    </div>
</div>

 -->

 <!-- 
<div class="container">
    <div class="row">
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-01</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-02</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-03</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-04</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-05</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-06</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-07</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-08</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-09</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-10</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-11</div>
      <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-12</div>
    </div>
</div> -->